.table-responsive.mt-5
  %table.table.table-striped
    %thead
      %tr
        %th{:scope => "col"} ID
        %th{:scope => "col"} Data de Início
        %th{:scope => "col"} Data de Término
        %th{:scope => "col"} Meta
        %th{:scope => "col"} Sprint
        %th{:scope => "col"} Data de criação
        %th{:scope => "col", :width => "120"}
    %tbody
      - @burndowns.each do |burndown|
        %tr
          %td{:scope => "row"}= burndown.id
          %td= burndown.date_start
          %td= burndown.date_end
          %td= burndown.metascore
          %td= burndown.sprint
          %td= burndown.created_at
          %td
            = link_to 'Editar', edit_burndown_path(burndown), class: 'btn btn-primary'
            = link_to 'Excluir', burndown, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class: 'btn btn-danger'