%h1 Listing scores

%table
  %thead
    %tr
      %th Title
      %th Qa points
      %th Dev points
      %th App
      %th
      %th
      %th

  %tbody
    - @scores.each do |score|
      %tr
        %td= score.title
        %td= score.qa_points
        %td= score.dev_points
        %td= score.app_id
        %td= link_to 'Show', score
        %td= link_to 'Edit', edit_score_path(score)
        %td= link_to 'Destroy', score, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Score', new_score_path
